body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    height: 100vh; /* Establece la altura del cuerpo al 100% de la ventana */
    background: linear-gradient(to bottom, #3498db, #2c3e50); /* Degradado vertical */
    font-family: Arial, sans-serif;
    color: #fff; /* Color del texto */
    text-align: center;
}

h1 {
    color: #333; /* Color del texto */
    font-size: 28px; /* Tamaño de la fuente */
    margin-bottom: 10px; /* Margen inferior */
    text-align: center;

}

#palabraAleatoria {
    color: rgba(255, 0, 0, 0.651); /* Color del texto */
    font-size: 24px; /* Tamaño de la fuente */
    margin-bottom: 8px; /* Margen inferior */
    text-align: center;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;

}

/* Cambiar el color del botón al pasar el mouse sobre él */
button:hover {
    background-color: #45a049;
    text-align: center;

}
